$playground: #282a36;
$btn: #262b3b;

$primary-text: #e0e6f0;
$secondary-text: #9ea8b9;
$border: #797a7e;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.homepage {
  max-height: 100vh;
  background-color: #0e1525;
  display: grid;
  grid-template-rows: 60px calc(100vh - 60px);

  .navbar {
    color: white;

    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: $border;
      border: none;
      color: $primary-text;
    }
  }

  .main {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
    padding-bottom: 0;
    overflow: hidden;

    &__left {
      padding-right: 10px;

      .playground {
        border: 1px solid $border;
        border-radius: 2px;
        border-bottom: none;
        font-size: 18px;
      }

      .CodeMirror {
        width: 100%;
        min-height: calc(100vh - 71px);
      }
    }

    &__right {
      display: grid;
      grid-template-columns: 30fr 70fr;
      grid-template-rows: 65fr 35fr;
      grid-gap: 30px;
      padding: 30px 0 30px 10px;

      .event {
        border: 1px solid $border;
        border-radius: 2px;
        background-color: $playground;
        display: grid;
        grid-template-rows: 50px 1fr;

        &__title {
          font-size: 20px;
          text-align: center;
          color: $secondary-text;
          padding: 10px 0 20px 0;
        }

        &__border {
          position: relative;
          overflow: hidden;
        }

        &__content {
          position: absolute;
          bottom: 10px;
          width: 100%;
        }

        &__text {
          border: 1px solid $border;
          color: $primary-text;
          width: 80%;
          margin: 0 auto;
          padding: 10px;
          overflow-x: hidden;
          animation: fadeIn 1s ease;

          &:not(:last-child) {
            margin: 10px auto;
          }
        }
      }

      .call-stack {
        grid-row: 1 / 3;
      }
    }
  }
}

.remove-content {
  animation: fadeOut 1s ease !important;
}
