$homepage: #0e1525;
$playground: #282a36;
$btn: #383e50;

$primary-text: #e0e6f0;
$secondary-text: #9ea8b9;
$border: #797a7e;

:root {
  --interval: 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.homepage {
  max-height: 100vh;
  background-color: $homepage;
  display: grid;
  grid-template-rows: 60px calc(100vh - 60px);

  .navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    padding: 0 0 0 30px;
    background-color: $playground;
    color: $primary-text;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
    border-radius: 2px;
    overflow: hidden;

    .left {
      display: flex;

      & > * {
        // margin-right: 40px;
      }
    }

    .right {
      display: flex;
    }

    .nav {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.4s;
    }

    .secondary {
      padding: 0 40px;
      font-size: 18px;

      &:hover {
        background-color: #383e50;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    .title {
      font-family: "PT Serif", serif;
      font-size: 30px;
      letter-spacing: 1px;
      transition: all 0.4s;
      padding: 0 30px;
      text-decoration: none;
      color: $primary-text;

      &:hover {
        background-color: #383e50;
      }
    }

    .visualize {
      font-family: inherit;
      font-size: 18px;
      padding: 10px 20px;
      background-color: $playground;
      color: $primary-text;
      border: none;
      border: 1px solid $border;
      border-radius: 2px;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        background-color: $btn;
      }

      &:active {
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .main {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
    padding-bottom: 0;
    overflow: hidden;

    &__left {
      padding-right: 10px;

      .playground {
        border: 1px solid $border;
        border-radius: 2px;
        border-bottom: none;
        font-size: 18px;
      }

      .CodeMirror {
        width: 100%;
        min-height: calc(100vh - 71px);
      }
    }

    &__right {
      display: grid;
      grid-template-columns: 30fr 70fr;
      grid-template-rows: 65fr 35fr;
      grid-gap: 30px;
      padding: 30px 0 30px 10px;

      .event {
        border: 1px solid $border;
        border-radius: 2px;
        background-color: $playground;
        display: grid;
        grid-template-rows: 50px 1fr;

        &__title {
          font-size: 20px;
          text-align: center;
          color: $secondary-text;
          padding: 10px 0 20px 0;
        }

        &__border {
          position: relative;
          overflow: hidden;
        }

        &__content {
          position: absolute;
          bottom: 10px;
          width: 100%;
        }

        &__text {
          border: 1px solid $border;
          color: $primary-text;
          width: 80%;
          margin: 0 auto;
          padding: 10px;
          overflow-x: hidden;
          animation: fadeIn var(--interval) ease-in-out;

          &:not(:last-child) {
            margin: 10px auto;
          }
        }
      }

      .call-stack {
        grid-row: 1 / 3;
      }
    }
  }
}

.remove-content {
  animation: fadeOut var(--interval) ease !important;
}
