$playground: #282a36;
$border: #797a7e;

$primary-text: #e0e6f0;
$secondary-text: #9ea8b9;

.popup {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.8);
  z-index: 100;

  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: $playground;
  }

  ::-webkit-scrollbar-thumb {
    background: $playground;
  }

  &__welcome {
    grid-template-rows: 15% 15% 60% 10%;
  }

  &__alert {
    grid-template-rows: 15% 15% 70%;
    width: 40% !important;
  }

  &__content {
    display: grid;
    position: absolute;
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: $playground;
    border: 1px solid $border;
    border-radius: 4px;
    color: $secondary-text;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70vh;
    box-shadow: 0 20px 40px rgba(black, 0.2);
    padding: 40px;
    overflow-y: scroll;
    overflow-x: hidden;

    .title {
      color: $primary-text;
      font-size: 40px;
    }

    .description {
      color: $secondary-text;
      font-weight: 400;
      font-size: 23px;
    }

    .source-code {
      font-weight: 400;
      font-size: 20px;

      a,
      a:visited,
      a:link {
        text-decoration: none;
        color: white;
      }
    }

    .typos {
      font-weight: 400;
      font-size: 20px;
      text-align: start;

      p {
        display: block;
        margin-bottom: 10px;
      }
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .close {
      position: absolute;
      top: 3%;
      right: 3%;
      font-size: 20px;
      cursor: pointer;
      user-select: none;
    }
  }
}
